# env secrets
.env
backend/.env
*.env

# python cache
__pycache__/
*.pyc

# virtual env
venv/
myenv/
env/

# frontend ignore
# frontend/
frontend/dist/
# zip ignore
*.zip

# env secrets
.env
backend/.env
*.env

# python cache
__pycache__/
*.pyc

# virtual env
venv/
myenv/
env/
backend/backend/.venv/

# frontend ignore
# frontend/
frontend/dist/
# zip ignore
*.zip

# vscode
.vscode/

# Ignore databases and dependencies
node_modules/
frontend/node_modules/
node_modules/.vite/deps
*.db
*.sqlite3

# Ignore dummy scripts
backend/create_dummy*.py
backend/insert_dummy*.py
backend/get_test_users.py
backend/create_table*.py
backend/create_missing_tables.py
csat_tool_db_schema.txt
